<div id="logo"></div>
      
<div class="center">
 
  <div class="row">
    <div class="span3 offset2">
      <%=form_tag(:controller => "caffes", :action => "index", :method => "get") do %>
          <%= hidden_field_tag(:latitude, "") %>
          <%= hidden_field_tag(:longitude, "") %>
          <button id="locator" class="btn btn-primary btn-large">Lociraj me</button>
      <% end %>

      <%=form_tag(:html => {:id => "address_form"}, :controller => "caffes", :action => "search", :method => "post", ) do %>
          <%= text_field_tag(:address, "", placeholder: "Trazi u okolini adrese...") %>
      <% end %>
               
    </div>
    <div class="span3 offset1">
      <p>Svi smo jednaki.</p>
      <p>Ipak, neki su jednakiji.</p>
      <p>Pronadji mesto gde te postuju.</p>
      <p>Reci ne zadimljenoj prostoriji.</p>
      <p>Reci ne trovanju.</p>
      <p>Reci ne kompromisu...</p>
    </div>

  </div>

</div>

<script type="text/javascript">

$(window).load(function(){
  postCurrentUsersLocation();
});

$('#address').keypress(function (e) {
  if (e.which == 13) {
    $('#address_form').submit();
  }
});

</script>