<div id="logo"></div>
      
<div class="center">
 
  <div class="row">
    <div class="center1">
      <%=form_tag(:controller => "caffes", :action => "index", :method => "post") do %>
          <%= hidden_field_tag(:latitude, "") %>
          <%= hidden_field_tag(:longitude, "") %>
          <button id="locator" class="offset1 btn btn-primary btn-large">Lociraj me</button>
      <% end %>
    </div>
    <div class="center2">
      <%=form_tag(:html => {:id => "address_form"}, :controller => "caffes", :action => "search", :method => "post", ) do %>
          <%= text_field_tag(:address, "", placeholder: "Trazi u okolini adrese...") %>
      <% end %>
    </div>

<script type="text/javascript">

$(window).load(function(){
  postCurrentUsersLocation();
});

$('#address').keypress(function (e) {
  if (e.which == 13) {
    $('#address_form').submit();
  }
});

</script>