<p id="notice"><%= notice %></p>

<p>
  <b>Caffe:</b>
  <%= @opinion.caffe_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @opinion.comment %>
</p>

<p>
  <b>Rating:</b>
  <%= @opinion.rating %>
</p>


<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
