
<%= form_tag("/caffes/search", :method => "post") do %>
  <%= label_tag(:address, "Adresa:") %>
  <%= text_field_tag(:address) %>
  <%= submit_tag("Trazi") %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @caffes.each do |caffe| %>
  <tr class="direction_to">
    <td><%= caffe.name %></td>
    <td class="address_to"><%= caffe.address %></td>
    <td class="lat_to"><%= caffe.latitude %></td>
    <td class="lng_to"><%= caffe.longitude %></td>
    <td><%= link_to 'Show', caffe %></td>
    <td><%= link_to 'Edit', edit_caffe_path(caffe) %></td>
    <td><%= link_to 'Destroy', caffe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<input type="hidden" id="lat_from" value="">
<input type="hidden" id="lng_from" value="">

<%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, "zoom" => 4},"markers" => { "data" => @caffes_json }) %>

<script type="text/javascript">
  $(window).load(function(){
    if (navigator.geolocation)
     {
        navigator.geolocation.getCurrentPosition(set_from_values);
      }

      function set_from_values(position){
        $("#lat_from").val(position.coords.latitude);
        $("#lng_from").val(position.coords.longitude);
      }});

  $(".direction_to").click(function() {
     
        var lat_to = $(this).find(".lat_to").text();
        var lng_to = $(this).find(".lng_to").text();
        var lat_from = $("#lat_from").val();
        var lng_from = $("#lng_from").val();
        Gmaps.map.initialize();
        Gmaps.map.direction_conf.origin = new google.maps.LatLng(lat_from, lng_from);
        Gmaps.map.direction_conf.destination =  new google.maps.LatLng(lat_to, lng_to);
        //Gmaps.map.direction_conf.language = 'sr';
        Gmaps.map.create_direction();

  });
</script>

